/* stick wrapper with the same color as the desktop/mobile header */
:global(.vtex-sticky-layout-0-x-wrapper--sticky-header) {
  background-color: #212121;
  position: fixed;
  margin-top: -2.0em;
  box-shadow: 2px 1px 4px;
}
